body {
  margin: 0px;
  overflow: hidden;
}

#gl_overlay {
  left:   50%;
  width:  50%;
  top:    80%;
  height: 20%;

  margin:  0;
  padding: 0;

  opacity: 0.1;
  background-color: black;
  position:     absolute;
  z-index:             1;
}

#gl_container {
  position: absolute;
  top:      0;
  left:     0;
  right:    0;
  bottom:   0;
  z-index: -1;
}
